---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
        <channel>
                <title>
                        Tristan Lee
                </title>
                <link>
                        https://tristanlee.net/
                </link>
                <description>
                        student, programmer, pianist.
                </description>
                <language>
                        en
                </language>
                <atom:link href="https://tristanlee.net/feed.xml" rel="self" type="application/rss+xml"/>
                {%- for entry in collections.diary limit: 20 %}
                        <item>
                                <title>
                                        {{ entry.date | date: "%Y-%m-%d" }}
                                </title>
                                <link>
                                        https://tristanlee.net{{ entry.url }}
                                </link>
                                <guid>
                                        https://tristanlee.net{{ entry.url }}
                                </guid>
                                <pubDate>
                                        {{ entry.date | dateToRfc822 }}
                                </pubDate>
                                <description>
                                        <![CDATA[{{ entry.templateContent }}]]>
                                </description>
                        </item>
                {%- endfor %}
        </channel>
</rss>
